.form-item-link {
  margin-bottom: 0;
}
.link-opts {
  padding: 0 2.25rem .5rem 2.25rem;
  .form-item {
    padding-right: 1.5rem;
    margin-top: 0;
    label {
      font-weight: normal;
      font-size: .8rem;
    }
  }
}
